img {width: 1050px; height: 400px;}
.s-points {text-align: center;}


.Before, .After {
  transition: 0.6s ease;
  border-radius: 0 4px 6px 0;
  user-select: none;
  cursor: pointer;
  position: absolute;
  padding: 13px;
  color: rgb(230, 238, 238);
  font-weight: bold;
  font-size: 18px;
  top: 49.5%;
  width: auto;
  margin-top: -18px;
  
}

.After {
  right: 0;
  border-radius: 5px 0 0 3px;
}

.Before:hover, .After:hover {
  background-color: rgba(231, 202, 202, 0.8);
}

@-webkit-keyframes autoplay {
  from {visibility: hidden;}
  to {visibility: hidden;}
}

@keyframes autoplay {
  from {visibility: hidden;}
  to {visibility: hidden;}
}

.points {
  background-color: rgb(223, 213, 213);
  border-radius: 50.9%;
  display: inline-block;
  transition: background-color 0.3s ease;
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 3px;
  
}

.enable, .points:hover {
  background-color: #a19898;
}

.autoplay {
  animation-name: var(.carousel);
  animation-duration: 1.4s;
  animation-delay: 2s;
  -webkit-animation-name: var(-webkit-animation-duration);
  -webkit-animation-duration: 1.4s;}
  


.carousel-accordion {
  position: relative;
  margin: auto;
  max-width: 1050px;
  
}

.carousel {
  display: none; animation-delay: 2s;
}

.comment {
  padding: 11px 13px;
  position: absolute;
  top: 0;
  color: #cbcbec;
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a {color:rgb(138, 139, 145); }
h1 {text-align: center;}
.container {color:rgb(221, 241, 235);}
h6 {text-align: end;}
.down {width: 1250px; height: 100px; position: relative;}


